body {
  margin: 0;
  padding: 0;
}

.dashboard {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.content {
  width: 100%;
}

.makeStyles-drawerPaper-6 {
  background: #960200!important;
}

.MuiTypography-body1 {
  color: white!important;
}

.MuiListItemIcon-root {
  color: white!important;
}

.jss6 {
  background: #960200!important;
}